EmployeeSoapClient/xml-resources/web-service-references/EmployeeService/wsdl/localhost_8080/EmployeeSoapService/EmployeeService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://myservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://myservice/">

<xs:element name="employee" type="tns:employee"/>

<xs:element name="findEmployeeById" type="tns:findEmployeeById"/>

<xs:element name="findEmployeeByIdResponse" type="tns:findEmployeeByIdResponse"/>

<xs:element name="updateEmployee" type="tns:updateEmployee"/>

<xs:element name="updateEmployeeResponse" type="tns:updateEmployeeResponse"/>

<xs:complexType name="findEmployeeById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEmployeeByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:employee" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="employee">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="salary" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateEmployee">
<xs:sequence>
<xs:element name="emp" type="tns:employee" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateEmployeeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>